html
    body
        ul
        each value in values
            li= value
        input(id='value')
        button(id='button') Add

    script.
        const btn = document.querySelector('#button');
        const input = document.querySelector('#value');

        btn.addEventListener('click', () => {
          const value = input.value;

          fetch('http://localhost:4000/add', {
            body: JSON.stringify({ value }),
            method: 'POST',
            headers: {
              'Content-Type': 'application/json'
            },
          }).then(() => {
            location.reload();
          });
        });
